.pokedex__title span{
    color:#a52e16;
}
.pokedex__container{
    display: flex; 
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
.custom__select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 15px;
    bottom: 0;
}
